body {
    background-color: rgb(226, 248, 249) !important;

}
            
/* Set up a basic grid layout with two columns */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Adjust the gap between columns */
}

/* Style for text on the left */
.text {
    grid-column: 1; /* Place text in the first column */
}

/* Style for image on the right */
.image {
    grid-column: 2; /* Place image in the second column */
    text-align: center; /* Optional: center the image within the column */
}

/* Add some basic styling for demonstration purposes */
img {
    max-width: 100%;
    height: auto
}

.nav-container{
    display: flex;
    justify-content: flex-end;
}

.nav-container p {
    min-width: 5rem;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}


.stretch {
    width:100%;
    height:100%;
}