<!-- html:5 tab -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>
    <!-- div by default is a block element -->

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline-Block Element</div>
    <br><br>


    <h2>Positioning Element Example</h2>

    <div class="sticky">Sticky</div>

    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>

    <div class="absolute">Absolute Position to the Body</div>

    <div class="relative">
        <div class="absolute">Absolute to the Relative</div>
    </div>

    <div class="fixed">Fixed Position</div>
    <br><br>


    <h2>Floats and Clearing Floats Example</h2>
    <!-- text wrap -->
    <div>
        <div class="float-right">Float Right</div>  
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium delectus quae neque voluptas commodi libero aut consequatur ipsa totam iusto, error laudantium autem. Mollitia quibusdam saepe provident nemo temporibus dolor doloribus obcaecati corporis perspiciatis porro! Pariatur consequuntur tempora eveniet suscipit. Inventore cupiditate obcaecati labore sunt eum commodi assumenda minus velit?
    </div>

    <div>
        <div class="float-left">Float Reft</div>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit magni adipisci pariatur quibusdam consectetur totam maxime tempore iure. Officia quia tenetur quod impedit vel cupiditate ex ut illo nemo corporis numquam sunt labore doloribus rem ad excepturi aliquam placeat iusto obcaecati facere distinctio, sit eaque eos. Laudantium incidunt esse repellat. Eius autem a nobis sed, provident ea dicta deserunt mollitia saepe quaerat impedit laudantium illum perferendis aliquam. Libero, magni nobis est ducimus laudantium doloribus architecto perferendis reprehenderit sit.

        <div class="clear-float">Clear Floats</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores molestias omnis cum praesentium voluptates id minima est in, harum quae natus exercitationem culpa quod ab qui unde facere perferendis beatae voluptatum at aliquid ea necessitatibus. Sequi fuga repudiandae, beatae nisi ipsa error omnis. Laborum consequatur dolorem harum quis esse. Porro!
    </div>
    <br><br>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered. </p>
        </div>
    </div>

    
    <div class="parent-box center-vertical">
        <!-- subclass and overwrite previous one -->
        <div >
            <p>This box is vertically centered. </p>
        </div>
    </div>
    
<!-- 
    <div class="parent-box">
        <div class = ' center-vertical'>
            <p>This box is vertically centered. </p>
        </div>
    </div> -->

    <div class="parent-box center-horizontal-vertical">
        <div>
            <p>This box is vertically and horizontally centered. </p>
        </div>
    </div>


    <!-- <div class="parent-box">
        <div class = "center-horizontal-vertical">
            <p>This box is vertically and horizontally centered. </p>
        </div>
    </div> -->


    <br><br><br><br><br>
    <br><br><br><br><br>
</body>
</html>