/* Universal Selector */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color:chocolate */
}

span {
    background-color: aquamarine;
}

li {
    background-color: red;
}

.listClass {
    background-color: orange;
}

#listId {
    background-color: yellow;
}

li[value="list"] {
    background-color: green;
}

.listClass1, .listClass2 {
    background-color: skyblue;
}

ul .listClass3 {
    background-color: indigo;
    color: white;
}

/* Pseudo-Classes */
.hoverBtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.activeBtn:active {
    background-color: gray;
    color: black;
}

.focusInput:focus {
    background-color: skyblue;
    border-width: 5px;
}

.visitedLink:visited {
    color: red;
}

/* Pseudo Element */
.firstLetter::first-letter {
    font-size: 2em;
}

.firstLine::first-line {
    color: blue;
}

.beforeAndAfter::before {
    /* can see it but can't selected; There are also some scenarios that you might want to protect the contents of your website and don't want them to copy and paste your content. Let's say sensitive data like recipe or personal details. Their purpose is for viewing only. */
    content: "before $";
    color: red;
}

.beforeAndAfter::after {
    content: "after";
    color: blue;
}

.selectParts::selection {
    background-color: crimson;
}

/* Earlier Rule */
.cascade {
    color: red !important;
}

/* Later Rule */
.cascade {
    color: blue;
}

/* Box Model */
.boxModel {
    background-color: white;

    /* border-color: black;
    border-width: 5px;
    border-style: dashed; */

    border: orchid 5px solid;
    border-radius: 50px 5px;
    border-style: solid dotted;

    /* margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 30px; */

    /* 1 value = all sides
    2 values = top & bottom, right & left 
    3 values = top, right & left , bottom
    4 values = top, right, bottom, left*/
    margin: 10px 20px 30px 40px;
    padding: 20px 100px 10px; 
}